{% extends 'base.html' %}

{% block title %}
{{ category.name }} yangiliklari
{% endblock title %}


{% block content %}
<main>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for new in news %}
        <div class="col">
          <div class="card shadow-sm">
            <img style="width: auto;height: 300px;" src="{{ new.image.url }}" alt="">
            <div class="card-body">
              <h5>{{ new.title |truncatewords:5 }}</h5>
              <p class="card-text">{{ new.description |truncatewords:7 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'news_detail' new.pk %}">Batafsil</a></button>
                </div>
                <small class="text-muted">{{ new.created_at |date:"D d M Y" }}</small>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>

</main>

{% endblock content %}